.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.usernameText {
    color: var(--accent-text-color);
}

.logoutBtn {
    width: 70%;
}
