:root {
  --main-bg-color: #d2fafb;
  --contrast-bg-color: #2c003e;
  --contrast-bg-lighter-color: #512b58;
  --accent-bg-color: #fe346e;
  --main-text-color: #2c003e;
  --contrast-text-color: #d2fafb;
  --accent-text-color: #fe346e;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Big screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 5em;
  }
}
